{% extends 'layout.html' %}

{% block content %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash {{ category }}">
          <p>{{ message }}</p>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <form action="{{ url_for('get_lists') }}" method="post">
    <dl>
      <dt>
        <label for="list_title">Enter the title for your new list:</label>
      </dt>
      <dd>
        <input type="text" name="list_title" placeholder="List Title" value="">
      </dd>
    </dl>
    <fieldset class="actions">
      <input type="submit" value="Save">
      <a href="{{ url_for('get_lists') }}">Cancel</a>
    </fieldset>
  </form>
{% endblock %}